.scroller {
  width: 100%;
  overflow: hidden;
  padding: 24px 0;
  position: relative;
}

.scroller-inner {
  display: flex;
  gap: 24px;
  width: max-content;
  animation: scroll 40s linear infinite;
}

.scroller:hover .scroller-inner {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.tile-card {
  flex: 0 0 auto;
  width: 600px;
  height: 120px;
  margin: 0 16px;
  background: #111111cf;
  box-shadow: 0 0 10px rgb(101 101 101 / 31%);
  color: white;
  border-radius: 12px;
  padding: 10px;
  user-select: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  justify-items: center;
  align-items: center;
}

.tile-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.4);
  border: 2px solid #ff6a00;
}

/* Themes */
.white-theme {
  background-color: #f9f9f9;
  color: #000;
}

.blue-theme {
  background-color: #165aa7;
  color: #fff;
}

.black-theme {
  background-color: #222;
  color: #fff;
}

.tile-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #ff6a00;
}

@media (max-width: 768px) {
  .tile-card {
    width: 260px;
    padding: 16px;
  }

  .tile-card h3 {
    font-size: 1.2rem;
  }

  .tile-card p {
    font-size: 0.9rem;
  }
}

/* Scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
