.fullscreen-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  transition: background 0.3s ease, color 0.3s ease;
  background: #111111a4;
}

/* Navbar 
.top-navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;

  background: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(12px);   
  -webkit-backdrop-filter: blur(12px); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); 

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 100;
}
*/

.top-navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  justify-items: center;
  align-items: center;
  padding: 20px 14px;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  z-index: 100;
}


.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 40px;
}

/* Link-like animated effect for nav buttons */
.nav-actions button {
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-actions button.active {
  color: #489cdd;
  text-decoration: underline 20px solid #489cdd;
  border-radius: 4px;
}

/* Fake text for sliding effect */
.nav-actions button::before,
.nav-actions button::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

.nav-actions button::before {
  background-color: #ff6a00;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #ffffff;
}

.nav-actions button::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #ffffff;
  pointer-events: none;
}

/* Span inside button wraps visible text */
.nav-actions button span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav-actions button:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.nav-actions button:hover::after {
  transform: translate3d(0, 0, 0);
}

.nav-actions button:hover span {
  transform: translate3d(-200%, 0, 0);
}

.theme-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme-checkbox {
  display: none;
}

.model-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.auth-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-modal {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  color: white;
  position: relative;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  justify-items: anchor-center;
}

.auth-modal h2 {
  margin-bottom: 20px;
}

.auth-modal input {
  width: 93%;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: solid 0.5px #727272;
  font-size: 14px;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.auth-modal input::selection {
  background: #1c1c1c;
  color: white;
  border: solid 1px #ff6a00;
}

.auth-modal .error {
  color: red;
  margin-bottom: 10px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.cards-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 5px;
  z-index: 50;
}

/* Animated Blue Gradient Background */
.animated-blue-bg {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: -1;

  /* Behind everything */
}

/* Gradient Animation Keyframes */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Form card */
.form-card {
  padding: 30px;
  width: 100%;
  max-width: 360px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin-top: 120px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

form input:focus {
  outline: none;
}

/* Error */
.error {
  color: #e70808;
  margin-top: 10px;
  font-size: 16px;
}

/* Submit */
.submit-btn {
  width: 100%;
  margin-top: 18px;
  border: none;
  padding: 14px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #1281d6;
  color: white;
}

.login-wrapper {
  background-color: #111;
  color: white;
}

.submit-btn:hover {
  background-color: #ff6a00;
}

