.slider-container {
    width: 400px;
    margin: auto;
    position: absolute;
    transform: translateY(-120%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    transition: all 0.4s ease;
    right: 150px;
}

.slider-card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.slider-card p {
  font-size: 0.95rem;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  transform: translateY(-300px);
}

.slider-buttons button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 10px;
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.3s ease;
  border: none;
  margin-right: 16px;
  margin-left: 10px;
}

.slider-buttons button:hover {
  background-color: #555;
}

.slider-image img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



